.blog{
    max-width:100%;
    padding: 10px 0px;
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
}
.blog_img{
    width: 100%;
    height: 150px;
}
a:link{
    text-decoration: none;
}