 .all_news {
    margin: 30px auto;
    border-top: 1px solid lightgray;
    padding: 10px;
  }
 .main_topic{
      border-left: 1px solid lightgray;
      border-right: 1px solid lightgray;
  }
  .blog_section{
    border-right: 1px solid lightgray;
  }
 