.news {
  padding: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.news__title {
  color: #222;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
  font-family: Escrow Condensed, Georgia, serif;
}

.news__desc {
  color: #333333;
  font-size: 14px;
  font-family: Exchange, Georgia, serif;
  margin: 0px 0px 0px !important;
}



.news:first-child h3 {
  font-size: 30px;
  line-height: 30px;
}

.news_pub{
  font-size: 12px;
  margin: 0px 0px 8px !important;
}