.top__news {
  padding: 10px 0px 30px 0px;
  border-bottom: 1px solid lightgray;
  /* border-radius: 5px; */
}

.top__title {
  color: #222;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
}

.top__desc {
  color: #333333;
  padding-top: 10px;
  line-height: 25px;
  font-size: 14px;
  font-family: Exchange, Georgia, serif;
}

.top__pub {
  font-size: 12px;
}

.top__news:first-child h4 {
  background-image: url(../../images/im.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 40vh;
  font-weight: 700;
}

.top__news:first-child h3 {
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  font-family: Escrow Condensed, Georgia, serif
}

.top__news:first-child .top__desc {
  text-align: center;
}

.top__news:first-child .top__pub {
  text-align: center;
  display: block;
  margin: auto;
}

.top__news:first-child .top__news__line {
  display: block!important;
  background: #555;

  border: 0;
  height: 1px;
  width: 40%;
  position: relative;
  margin: 20px auto;
}

.top__news:first-child .top__news__line:before {
  content: "";
  width: 6px;
  height: 6px;
  display: inline-block;
  border: 2px solid #555;
  position: absolute;
  top: -3px;
  left: 50%;
  margin: 0 0 0 -3px;
  transform:rotate(45deg);
  background-color: #555
  
}