.top_news {
    padding:10px 0px 30px 0px;
  
    border-bottom: 1px solid lightgray;
    border-radius: 5px;
  }
  
  .top__title {
    color: #222;
    font-size: 22px;
    font-weight: 700;
    cursor: pointer;
  }

  .top__desc {
    color: #333333;  
    padding-top: 10px;
    line-height: 25px;
    font-size: 14px;
    padding-bottom: 10px;
    font-family: Exchange,Georgia,serif;
  }
  
  .news__published {
    margin-right: 10px;
  }
  .top_news:first-child h4{
    background-image: url(../../images/im.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 40vh;
    font-weight: 700;
  }
  .top_news:first-child h1{
      font-size: 32px;
      font-weight: 300;
      font-family: Escrow Condensed,Georgia,serif
  }