.all_data{
    display: flex;
    border-bottom: 1px solid lightgray;
}
.data_name{
    margin-right: 10px;
    color: #222 !important;
    font-family: Retina,Arial,sans-serif !important;
    font-size: 14px !important;
}
.first_data{
    margin-right: 10px;
    color: #222 !important;
    font-family: Retina,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: bold;
}
.data_value{
    color:#FF0000 !important;
}
.data_green{
    color: #0A8200 !important;
}
.table_List td{
    font-size: 14px;
    line-height: 16px;
    font-variant-numeric: tabular-nums;
    color:#222;
    font-family: Retina Narrow,Retina,Arial Narrow,Arial,Helvetica,sans-serif;
}
.opinion_part{
    color: #A28C6D;
    font-size: 18px;
    font-family: Retina Narrow,Retina,Arial Narrow,Arial,Helvetica,sans-serif;
    font-weight: 700;
}
.opinion_title h5{
    color: #333333;
    font-family: Escrow Condensed;
    font-size: 18px;
    font-weight: 700;
}
.opinion_title p{
    font-family: Exchange,georgia,times;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    font-style: italic;
    color: #555;
}
.opinion_title{
    border-bottom: 1px solid lightgray;
    padding: 10px 0px;
}