.navbar{
    border-bottom: 1px solid lightgrey;
}
.nav-link{
  text-transform: capitalize;
  font-weight: 400 !important;
  font-size: 16px !important;
  color:#555 !important;
  font-family: Retina,Arial,Helvetica,sans-serif !important;
  padding: 3px 8.8px 0 !important;
}

.nav-link:hover{
    font-weight: 600 !important;
    color:#222 !important;
    font-size: 16px !important;
}

.modal-backdrop {
  background-color:#fff;
    opacity:1!important;
      border: 10px solid rgba(136, 136, 136, .4);
  }
  
  .modal-body {
    text-align: center;
  } 
  
  .modal-body form {
    margin: 0 auto;
    float: none;
 
  }
  
  .modal-content .close {
    opacity: 1;
    font-size: 30px;
  }
.form-group input {
    border: none !important;
    border-bottom: 1px solid black !important;
}


.btn.focus, .btn:focus {
    outline: none !important;
    box-shadow: none !important;
}
.form-control:focus{
    outline: none !important;
    box-shadow: none !important;
}
.search-icon{
    color: #333 !important;
    font-family: Retina,Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-size: 13px;
}