.navbar {
  border-bottom: 1px solid lightgrey;
}

.nav-link {
  text-transform: capitalize;
  /* font-weight: 400 !important; */
  font-size: 14px !important;
  color: #555 !important;
  font-family: Retina, Arial, Helvetica, sans-serif !important;
  padding: 3px 8.8px !important;

}

.nav-link:hover {
  font-weight: 600 !important;
  color: #222 !important;
  font-size: 14px !important;
  padding: 3px 7px !important;
  border: 1px solid lightgray;
}

.modal-backdrop {
  background-color: #fff;
  opacity: 1!important;
  border: 10px solid #88888866;
}

.modal-body {
  text-align: center;
}

.modal-body form {
  margin: 0 auto;
  float: none;
}

.modal-content .close {
  opacity: 1;
  font-size: 30px;
}

.form-group input {
  border: none !important;
  border-bottom: 1px solid black !important;
}

.btn.focus, .btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

.form-control:focus {
  outline: none !important;
  box-shadow: none !important;
}

.search-icon {
  color: #333 !important;
  font-family: Retina, Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 13px;
}











.dropdown-menu {
  background-color: #ffffff;
  padding: 10px;
  border: none;
}

.dropdown-menu>li>a {
  color: #222
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  color: #FFCC00
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  z-index: 1;
  margin-top: -2px;

}
.dropdown:hover .dropdown-menu {
  display: block;
}




